* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}
body { background-color: #000; }
.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #306;
    border: 8px dashed #99c;
}

#player {
	background-color: #ff3;
	border: 2px dashed #c60;
	width: 20px;
	height: 20px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.2s
}

.pointer {
	background-color: #003;
	height: 30px;
	margin-top: 30px;
	border-bottom: 0px;
	color: #fc0;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}

#info {
    color: #FFF;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    margin: 50px 10px 0;
    padding: 8px;
    background: #161616;
    position: absolute;
    z-index: 1;
    height: 485px;
    width: 260px;
    
}

#info p {
    font-size: 18px;
}
h1 {
font-size: 42px;
position: absolute;
color: white;
left: 445px;
font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
img {
position: absolute;
height: 40px;
width: 60px;
left: 940px;
top: 30px;

}