* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}
body { background-color: #000; }
.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #306;
    border: 8px dashed #99c;
}

#player {
	width: 10px;
	height: 10px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.2s
}

.pointer {
	height: 20px;
	margin-top: 20px;
	border-bottom: 0px;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}