* {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}
body { background-color: #000; }
.contenedor {
    padding: 0px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: #306;
    border: 8px dashed #99c;
}

#player {
	background-color: #f00;
	border: 2px dashed #800;
	width: 20px;
	height: 20px;
	border-radius: 29px;
	position: absolute;
	transition: all 0.2s
}

.pointer {
	background-color: #003;
	height: 30px;
	margin-top: 30px;
	border-bottom: 0px;
	color: #fc0;
	font-size: 20px;
	text-align: center;
	padding: 10px 0px;
}

#info {
    color: #fc0;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    margin: 30px 10px 0;
    padding: 8px;
    background: #161616;
    position: absolute;
    z-index: 1;
    height: 285px;
    width: 260px;
    
}

#info p {
    font-size: 18px;
}
h1 {
font-size: 42px;
position: absolute;
color: rgb(37, 193, 204);
left: 445px;
font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}
img {
position: absolute;
height: 40px;
width: 60px;
left: 940px;
top: 30px;

}
#salir p {
    position: relative;
    top: 140px;

    justify-content: left;
    align-items: left;
    height: 100px;
    width: left;
    background-size: auto;
    font-family: 'Courier New', Courier, monospace;
    margin: 50px;
	}
	.btn-neon{
	position: relative;
	padding: 10px 30px;
	color: rgb(0, 0, 0);
	letter-spacing: 3px;
	text-decoration: none;
	font-size: 20px;
	transition: 0.5s;
	background-color: rgb(194, 181, 0);
	}