
/*Ajustes del body*/
body {
    display: block;
    width: 630px;
    margin: 0 auto;
    background-image: url("C:/laragon/www/Proyecto-Final-ISC/img/space.jpg");
    background-size: 100%;
    align-content: center;
}
/*Creacion de los estilos para el h1*/
h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 35px;
    color: white;
}