* {
    margin: 0;
}

canvas {
    position: absolute;
    top: 70px;
    left: 300px;
    width: 800px;
    height: 500px;
    background: #262626;
}

#info {
    color: #FFF;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    margin: 50px 10px 0;
    padding: 8px;
    background: #161616;
    position: absolute;
    z-index: 1;
    height: 485px;
    width: 260px;
    
}

#info p {
    font-size: 18px;
}
h1 {
font-size: 42px;
position: absolute;
color: white;
left: 445px;
font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

img {
    position: absolute;
    height: 40px;
    width: 60px;
    left: 940px;
    top: 30px;
}