/*Creacion del estilo para el html*/
html {
	height: 100%;
	font: 62.5%/1 "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	background-image: url("C:/Users/USUARIO/Desktop/Trabajo_Colaborativo/img/creditos.gif");
	background-size: 100%;
  }










