/*Creacion del estilo para el html*/
html {
	height: 100%;
	font: 62.5%/1 "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	background-image: url("C:/laragon/www/Final-Project-ISC/img/creditos.gif");
	background-size: 100%;
  }
/*Creacion del estilo para el body*/
body {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
/*Creacion del estilo para el wrapper*/
#wrapper {
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 10em;
	padding: 50px 0;
	margin: 0;
  }










